# logging
OTEL_EXPORTER_OTLP_ENDPOINT="<otel_endpoint>"
OTEL_EXPORTER_OTLP_HEADERS="Authorization=ApiKey <apikey>"
OTEL_SERVICE_NAME="<service_name>"
OTEL_RESOURCE_ATTRIBUTES="deployment.environment=Development,service.namespace=<service_namespace>"

# people lookup
PeopleLookup__IamKey="<iamws_api_key>"
PeopleLookup__SensitiveInfoUsers="<iam_id>,<iam_id>"

#Rosetta Link for secrets: https://oauth.dev.api.ucdavis.edu/my-clients

RosettaClient__BaseUrl="https://rosetta.dev.api.ucdavis.edu/api/v1"
RosettaClient__TokenUrl="https://oauth.dev.api.ucdavis.edu/token"
RosettaClient__ClientId="<RosettaClientId>"
RosettaClient__ClientSecret="<RosettaClientSecret>"
RosettaClient__Scope="read:public read:healthEmail"
